* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  background-color: #000;
}

.App {
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap */
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}

@media (prefers-reduced-motion: no-preference) {
  .Box {
    -webkit-animation: fade-in 700ms ease-in-out;
            animation: fade-in 700ms ease-in-out;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
